<%= form_tag "/groups/#{ @group.id }/stories", id: 'story_scene',  method: 'post', :"parsley-validate" => true, novalidate: true do %>
  <div class="row">
    <%= label_tag :name %>
    <%= text_field_tag :name, "", class: "", :"x-webkit-speech" => true, :"speech" => true %>
  </div>
  <div class="row">
    <%= label_tag :description %>
    <textarea name="description" id="description" x-webkit-speech speech></textarea>
    <br>    
  </div>

  <h3>Rules</h3>
  <div class="row">
    <%= label_tag :max_chars %>
    <%= text_field_tag 'rules[max_chars]', "", class: ""%>  
  </div>

  <div class="row">
    <%= label_tag :min_chars %>
    <%= text_field_tag 'rules[min_chars]', "", class: ""%>
  </div>

  <%= submit_tag "Story Time!" %>
<% end %>
