<%= form_tag "/stories", id: 'story_scene',  method: 'post', :"parsley-validate" => true, novalidate: true do %>
  <div class="row">
    <%= label_tag :name %>
    <%= text_field_tag :name, "", class: "", :"x-webkit-speech" => true, :"speech" => true %>
  </div>
  <div class="row">
    <%= label_tag :description %>
    <textarea name="description" id="description" x-webkit-speech speech></textarea>
  </div>

  <%= submit_tag "Story Time!" %>
<% end %>
