<ul>
  <li>You must enter between <%= @rules.min_chars %> and <%= @rules.max_chars %> characters.</li>
  <li>You must enter between <%= @rules.min_words %> and <%= @rules.max_chars %></li>
</ul>

<ul class="list_unstyled">
<% @story.story_scenes.each do |scene| %>
  <li>
    <%= scene.body %>
  </li>
<% end %>
</ul>

<% if @user.groups.include? @group %>
  <%= form_tag "/groups/#{ @group.id }/stories/#{ @story.id }", id: 'story_scene',  method: 'post', :"parsley-validate" => true, novalidate: true do %>
    <textarea name="body" id="body" x-webkit-speech speech required="true" parsley-trigger="change" parsley-validation-minlength="<%= @rules.min_chars %>" parsley-maxlength="<%= @rules.max_chars %>"></textarea>
    <%= submit_tag "Post Scene!" %>
  <% end %>
<% end %>