
<ul>
<% @story.story_scenes.each do |scene| %>
  <li>
    <%= scene.body %>
  </li>
<% end %>
</ul>

<% if @user.groups.include? @group %>
  <%= form_tag "/groups/#{ @group.id }/stories/#{ @story.id }", id: 'story_scene',  method: 'post', :"parsley-validate" => true, novalidate: true do %>
    <textarea name="body" id="body" parsley-trigger="change" parsley-validation-minlength="<%= @rules.min_chars %>" parsley-maxlength="<%= @rules.max_chars %>"></textarea>
    <%= submit_tag "Post Scene!" %>
  <% end %>
<% end %>