<% content_for :title do %>
  Welcome to Story Time!
<% end %>

<h1>Welcome <small>You are now a registered user</small></h1>
<p class="text-success">Be sure to check your email <a href=""><code><%= @user.emails[0].name %></code></a> for a confirmation link.</p>

<% if @user.type == User %>
  <div class="panel panel-info">
    <div class="panel-heading"><h2>Next Steps...</h2></div>
    <div class="panel-body">
      <ol>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
  <div class="panel panel-primary" id="upgrade">
    <div class="panel-heading"><h2>Starting a Group</h2></div>
    <div class="panel-body">
      <p class="lead"></p>
      
      <div class="col-md-8">
        <p class="lead">SubHeading 1</p>
        <p></p>
      </div>
      <div class="col-md-4">
        <%= image_tag 'care.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-8">
        <%= image_tag 'teachers.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4">
        <p class="lead">SubHeading 2</p>
        <p></p>
        
      </div>
      <div class="col-md-8">
        <p class="lead">SubHeading 3</p>
        <p></p>
      </div>
      <div class="col-md-4">
        <%= image_tag 'care.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-8">
        <%= image_tag 'support.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4">
        <p class="lead">SubHeading 4</p>
        <p></p>
      </div>
    </div>
  </div>
<% end %>