<% content_for :title do %>
  Teacher Resources | Browse
<% end %>

<% @uploads ||= Upload.all(approved: true) %>
<h2>Resources <small><%= @uploads.size %> found</small></h2>
<table class="table table-hover<%#resource-area thumbnails%>">
  
  <thead>
    <!--<tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Type</th>
      <% if @admin %>
        <th>&nbsp;</th>
      <%- end %>
    </tr>-->
  </thead>
  <tbody>

  <% @uploads.each do |upload| %>
    
    <tr>
      <td colspan="" rowspan="" headers="" class="col-md-2">
        <div id="rating<%= upload.id %>" class="rating" data-rating=""></div>
        <script type="text/javascript">
          $(function() {
            $('#rating<%= upload.id %>').rating('<%= uploads_path upload %>/rate', {
              maxvalue: 5, 
              increment: 0.5
              <% rating = UploadRating.first(upload: upload, user: @user) %>
              <%- if rating %>
                , curvalue: <%= rating.value %>
              <% else %>
                , curvalue: <%= upload.ratings.avg(:value) || 0 %>
              <% end %>
            });
          });
        </script>
      </td>

      <td colspan="" rowspan="" headers="" class="col-md-3">
        <%= link_to(thumbnail_for(upload, class: 'img-responsive') || image_tag("http://placekitten.com/200/220", class: 'img-responsive'), uploads_path(upload).gsub('.', '/')) %>
      </td>

      <td colspan="" rowspan="" headers="" class="col-md-7 ">
        <div class="resource-header">
          <%= upload.title.capitalize %>
        </div>
        <hr/>

        <div>
          Type<%= 's' if upload.types.count > 1 %>: 
          <% upload.types.each do |type| %>
          <%= link_to type.name.capitalize, "/uploads/type/#{type.name}" %>
          <% end %>
        </div>

        <div>
          Rating: <%= upload.ratings.avg(:value) || "Not Rated" %> / 5
        </div>

        <div>
        <% if upload.member %>
          By <%= link_to upload.member.name, "/user/#{upload.member.id}/profile" %>
          <% else %>
          <% Rails.logger.error "No member for upload #{upload.id}" %>
        <% end %>
        </div>

        <% if @admin %>
          
          <button class="approveBtn btn btn-success <%= 'disabled' if upload.approved %>"><%= (upload.approved) ? ('Approved') : ('Approve') %> <span class="glyphicon glyphicon-ok"></span></button>
          <button class="deleteBtn btn btn-danger">Delete <span class="glyphicon glyphicon-trash"></span></button>
          
        <%- end %>
      </td>

      <%#<td colspan="" rowspan="" headers="">
        
      </td>%>

      
    </tr>  
  <!--
  <li class="col-lg-4" data-id="<%= upload.id %>" data-type="uploads">
    <%= link_to image_tag(((upload.thumbnail) ? (upload.thumbnail.path) : ("http://placekitten.com/200/220")), class: 'img-responsive pull-left'), uploads_path(upload).gsub('.', '/') %>
    <div class="thumbnail pull-right">
      <div class="resource-header">
        <%= upload.title %>
      </div>
      <hr/>
      <div class="description">
        <%# Upload descs can have html inlilne %>
        <%# raw upload.description %>
      </div>
      <% if @admin %>
      <div>
        <%= form_tag do %>
        <button class="approveBtn btn btn-success <%= 'disabled' if upload.approved %>">
          <%= (upload.approved) ? ('Approved') : ('Approve') %>
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button class="deleteBtn btn btn-danger">
          Delete
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <% end %>
      </div>
      <% end %>
      <div>
        <% if upload.member %>
        By <%= link_to upload.member.name, "/user/#{upload.member.id}/profile" %>
        <% else %>
        <% Rails.logger.error "No member for upload #{upload.id}" %>
        <% end %>
      </div>
    </div>
  </li>-->
  <% end %>
  </tbody>
  
</table>