<% content_for :title do %>
  Teacher Resources | Browse
<% end %>

<%# Filter for resources %>
<%#<div class="pull-left panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Filter</h3>
  </div>
  
  <div class="panel-heading">A</div>
  <div class="panel-body">
    <div class="checkbox">
      <label>
        
        <input type="checkbox" />
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" />
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" />
      </label>
    </div>
  </div>
  
  <div class="panel-heading">B</div>
  <div class="panel-body">
    <div class="checkbox">
      <label>
        <input type="checkbox" />
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" />
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" />
      </label>
    </div>
  </div>
</div> %>
<% @uploads ||= Upload.all(approved: true) %>
<h2>Resources <small><%= @uploads.size %> found</small></h2>
<ul class="resource-area thumbnails">
  <% @uploads.each do |upload| %>
  <li class="uploadRow resource col-lg-4" data-id="<%= upload.id %>" data-type="uploads">
    <%= link_to image_tag(((upload.thumbnail) ? (upload.thumbnail.path) : ("http://placekitten.com/200/220")), class: 'img-responsive img-rounded'), uploads_path(upload).gsub('.', '/') %>
    <div class="thumbnail">
      <div class="resource-header">
        <%= upload.title %>
      </div>
      <hr/>
      <div class="description">
        <%# Upload descs can have html inlilne %>
        <%= raw upload.description %>
      </div>
      <% if @admin %>
      <div>
        <%= form_tag do %>
        <button class="approveBtn btn btn-success <%= 'disabled' if upload.approved %>">
          <%= (upload.approved) ? ('Approved') : ('Approve') %>
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button class="deleteBtn btn btn-danger">
          Delete
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <% end %>
      </div>
      <% end %>
      <div>
        <% if upload.member %>
        By <%= link_to upload.member.name, "/user/#{upload.member.id}/profile" %>
        <% else %>
        <% Rails.logger.error "No member for upload #{upload.id}" %>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
</ul>